@import './css/_minireset.scss';

// variables
$default-padding: 20px;
// colors
$app-primary: #1d85f0;

.app {
  background: #eee;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &-btn {
    cursor: pointer;
    font-size: 18px;
  }

  &-menu {
    background: $app-primary;
    display: flex;
    padding: $default-padding;
    position: absolute;
    width: 100vw;
  }

  &-main {
    flex: 1;
  }

  &-game {
    background: #fff;
    //height: 100%;
  }
}
